<div class="contact">
  <h2>Contact</h2>
  <ul>
  <li>Martinrea Riverside LLC</li>
    <li>Supply Chain</li>
    <li>5233 NW 41st St, Riverside, MO 64150</li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 816-581-9999</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:username@domain.com">bertrand.bwashi@martinrea.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://cvless.netlify.app">https://cvless.netlify.app</a></li>
  </ul>
</div>
